/* 코인 개수 반짝임 */
@keyframes shimmer {
    0% {
        text-shadow: none;
    }
    3% {
        text-shadow: 0 0 15px yellow, 0 0 15px yellow;
    }
    100% {
        text-shadow: none;
    }
}

.coin-text {
    padding: 7px;
    animation: none;
}

.coin-text.shimmer-animation {
    animation: shimmer 0.5s linear;
}

/* +🪙 글씨 애니메이션 */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.critical-text,
.add-text {
    font-size: 25px;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.critical-text.fade-in-animation {
    animation: fade-in 0.25s linear forwards;
}

.add-text.fade-in-animation {
    animation: fade-in 0.25s linear forwards;
}

.critical-text.fade-out-animation {
    animation: fade-out 0.25s linear forwards;
}

.add-text.fade-out-animation {
    animation: fade-out 0.25s linear forwards;
}

.miningButton {
    padding: 10px 40px;
    font-size: 30px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.miningButton:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
    z-index: -1;
    background-color: #008542 !important;
    box-shadow: 0 -4px rgb(21 108 0 / 50%) inset,
        0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset,
        4px 0 rgb(21 108 0 / 50%) inset;
}

.miningButton:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: 0.7s cubic-bezier(0, 0.8, 0.26, 0.99);
}

.miningButton:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset,
        0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset,
        4px 0 rgb(0 0 0 / 50%) inset;
}

.miningButton:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

.miningButton:active {
    transform: translateY(4px);
}

.miningButton:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

::selection {
    background-color: transparent;
}
